*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #90EA82;
    font-family: Montserrat, serif;
}
nav{
    background-color: #90EA82;

}
.nav{
    height: 60px;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0 65px;
    justify-content: space-between;
}

.button_nav{
    justify-content: center;
    width: 130px;
    height: 40px;
    background-color: #90EA82;

}
.button_nav_link{
    text-decoration: none;

}
.nav_employees{
    height: 60px;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0 65px;
    justify-content: space-between;
}



.logout{
    max-width: 700px;
    padding: 15px;
    margin: 20px auto;
    background-color: #fff;
    text-align: center;

}
.input {
    display: block;
    width: 100%;
    padding: 8px 10px;
    margin-bottom: 10px;

    font-family: inherit;
    font-size: 16px;
}

form{

    display: flex;
    flex-direction: column;
    gap: 52px;
    align-items: center;


}
