*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #90EA82;
    font-family: Montserrat, serif;
}
nav{
    background-color: #90EA82;

}
.nav{
    height: 60px;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0 65px;
    justify-content: space-between;
}

.button_nav{
    justify-content: center;
    width: 130px;
    height: 40px;
    background-color: #90EA82;

}
.button_nav_link{
    text-decoration: none;

}
.nav_employees{
    height: 60px;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0 65px;
    justify-content: space-between;
}



.logout{
    max-width: 700px;
    padding: 15px;
    margin: 20px auto;
    background-color: #fff;
    text-align: center;

}
input {
    display: block;
    width: 100%;
    padding: 8px 10px;
    margin-bottom: 10px;

    font-family: inherit;
    font-size: 16px;
}

form{

    display: flex;
    flex-direction: column;
    gap: 52px;
    align-items: center;


}

.add_employees_content{
    display: block;
    margin: 120px auto;
    background-color: #ffffff;
    width: 787px;
    height: 473px;
    padding: 80px;
    border: 1px solid black;
}
.add_employees_content_block{
    display: flex;
    flex-direction: column;
    gap: 50px;
    text-align: center;
}
.button_add_employees{
    width: 182px;
    height: 55px;
    background-color: white;
    border-radius: 5px;


}
.field_add_employees{
    width: 342px;
    height: 55px;
    padding: 10px;

}
.form_add_employees{
    display: flex;
    flex-direction: column;
    gap: 52px;
    align-items: center;
}
.fields_form{
    display: flex;
    flex-direction: row;
    gap: 35px;
}


.add_patients_content{
    display: block;
    margin: 120px auto;
    background-color: #ffffff;
    width: 873px;
    height: 796px;
    padding: 80px;
    border: 1px solid black;
}
.add_patients_content_block{
    display: flex;
    flex-direction: column;
    gap: 50px;
    text-align: center;
}
.button_add_patients{
    width: 182px;
    height: 55px;
    background-color: white;
    border-radius: 5px;


}
.field_add_patients{
    width: 693px;
    height: 55px;
    padding: 10px;

}
.form_add_patients{
    display: flex;
    flex-direction: column;
    gap: 52px;
    align-items: center;
}
.fields_form_add_patients{
    display: flex;
    flex-direction: column;
    gap: 33px;
}

.field_add_patients_small{
    width: 332px;
    height: 55px;
    padding: 10px;

}

.small_fields_row{
    display: flex;
    flex-direction: row;
    gap: 27px;
}



.add_doctors_content{
    display: block;
    margin: 120px auto;
    background-color: #ffffff;
    width: 873px;
    height: 796px;
    padding: 80px;
    border: 1px solid black;
}
.add_doctors_content_block{
    display: flex;
    flex-direction: column;
    gap: 50px;
    text-align: center;
}
.add_doctors_patients{
    width: 182px;
    height: 55px;
    background-color: white;
    border-radius: 5px;


}
.field_add_doctors{
    width: 693px;
    height: 55px;
    padding: 10px;

}
.form_add_doctors{
    display: flex;
    flex-direction: column;
    gap: 52px;
    align-items: center;
}
.fields_form_add_doctors{
    display: flex;
    flex-direction: column;
    gap: 33px;
}

.field_add_doctors_small{
    width: 332px;
    height: 55px;
    padding: 10px;

}


